<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="cabinet/layout :: site-head">
    <title th:text="${category.name}">View Post</title>
</head>
<body class="sticky-header left-side-collapsed"  onload="initMap()">
<section>
    <!-- left side start-->
    <div th:replace="cabinet/layout :: left-side"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content main-content3">
        <!-- header-starts -->
        <header th:replace="cabinet/layout :: site-header"></header>
        <!-- //header-ends -->
        <div id="page-wrapper">
            <div class="graphs">
                <h3 class="blank1">Category Add</h3>
                <div class="tab-content">
                    <div th:if="${successMessage}" class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <span th:utext="${successMessage}"></span>
                    </div>
                    <div class="tab-pane active" id="horizontal-form">
                        <form class="form-horizontal" th:action="@{/cabinet/category/add}" autocomplete="off"
                        action="#" th:object="${category}" method="post" role="form">
                            <div class="form-group">
                                <label for="focusedinput" class="col-sm-2 control-label">Category Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control1" id="focusedinput" th:field="*{name}" placeholder="Category Name"/>
                                </div>
                                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                            </div>
                            <div class="form-group">
                                <label for="txtarea1" class="col-sm-2 control-label">Category Description</label>
                                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
                                <div class="col-sm-8"><textarea id="txtarea1" cols="50" rows="15" class="form-control1" th:field="*{description}"></textarea></div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <button type="submit" class="btn-success btn">Submit</button>
                                        <button class="btn-default btn">Cancel</button>
                                        <button type="reset" class="btn-inverse btn">Reset</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer section start-->
    <footer th:replace="cabinet/layout :: site-footer"></footer>
    <!--footer section end-->
</section>


<div th:replace="cabinet/layout :: end-footer"></div>
</body>

</html>